body {
  margin: 5%;
  background: rgb(255, 128, 78);
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: whitesmoke;
  padding: 2%;
  color: rgb(255, 128, 78);
  border: none;
  border-radius: 30px;
  margin-left: 85%;
}

h1 {
  font-size: 8rem;
  margin-top: 0;
}

h2 {
  text-align: right;
  font-size: 5rem;
  text-transform: uppercase;
}

h2:hover {
  text-decoration: underline;
}

p {
  text-align: center;
  margin: 10% 0%;
}

/* FOOTER */
ul {
  display: flex;
  justify-content: space-around;
  padding: 5%;
  text-align: center;
}
li {
  list-style: none;
}
li a {
  color: whitesmoke;
}
